*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
    
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}


body{
    background: linear-gradient(#010203);
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

.navbar{
    border: 1px solid red;
    position: sticky;
    top: 0;
    left: 0;
    background-color: red;
    height: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.67rem;
    font-family: impact;
    z-index: 1;
}


.navbar a{
    text-decoration: none;
    color: black;
    font-style: oblique;
    display: flex;
    justify-content: space-evenly;
    display: inline;
    text-align: center;
    white-space: nowrap
}

a:hover{
    color: white;
    transform: scale(1.3);
    
}

footer{
    position: relative;
    bottom: 0;
    height: 100%;
    
}

.foot-container{
    background-color: #1A1A1A;
    width: 100%;
    height: 20rem;
    text-align: center;
    
}

.social-heading{
    color: white;
    font-family:Impact;
}

.Footer-Links{
color: white;
font-family: Impact;
text-decoration: none;
}

.Footer-Links:hover{
    color: red;
}

.Logos{
    height: 3rem;
    width:  3rem;
}

.Dont-Sue-me{
    color: red; 
}


.Page-Title{
    color: red; 
    text-align: center;
    font-size: 0.9rem;
    font-family: impact;
    padding-top: 0.5rem;
}

.Img-Head{
    max-width: 100%; 
    height: 20rem;
    display: flex;
    margin: auto;
    
}

.Community-Title{
    color: red;
    font-family: impact;
    position: absolute;
    top: 29.5rem;
    left: 5.2rem;
    border-bottom: 4px solid red;
    text-align: center;
}

.Bachi-Comms-Links{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0.8rem;
    margin-top:0.5rem;
    position: absolute;
    top:36rem;
    margin: auto;
    
}

.Bachi-Comms-Links a{
text-decoration: none;
font-family:  Arial, Helvetica, sans-serif;
color: white;
}

.Bachi-Comms-Links a:active{
    color: white;
}

.Discords{
    border: 4px solid red;
    text-align: center;
    border-radius: 0.9rem;
    animation: cool-effect 6s ease-in-out infinite alternate;
    background-color: black;

}

.Reddit{
    border: 4px solid crimson;
    text-align: center;
    border-radius: 0.9rem;
    animation: cool-effect 6s ease-in-out infinite alternate;
     background-color: black;
}  

.Wiki{
    border: 4px solid red;
    text-align: center;
    border-radius: 0.9rem;
    animation: cool-effect 6s ease-in-out infinite alternate;
    background-color: black;
}

.X-Comm{
    border: 4px solid crimson;
    text-align: center;
    border-radius: 0.9rem;
    animation: cool-effect 6s ease-in-out infinite alternate;
    background-color: black;
}

.Twitter-Img,.Discord-Img,.Reddit-Img,.Wiki-Img{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    animation: smoothMove 6s infinite cubic-bezier(0.34, 1.56, 0.64, 1);
}

.X-Comm a,.Discords a{
    display: block;
}

.Creator-Hub p{
    color: red;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0.5rem;
}

.Creator-Hub h2{
    color: red;
    font-family: impact;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.6rem;
    border-bottom: 4px solid red;
}

.Creator-Grid{
    display: grid;
    grid-template-columns: (1,1fr);
    margin-left: 0.3rem;
    
    
}

.Creator-Grid a{
    text-decoration: none;
    color: crimson;
    gap: 10rem;
    font-family: impact;
    
}

.Creator-1{
    display: flex;
    flex-direction: column;
    left: 0;
    border-bottom: 4px solid red;
    justify-content: space-evenly;
    

}

.Creator-1 img{
    height: auto;
    width: 4rem;
    
}

.Creator-1 img:active{
    border: 2px solid red;
}

.RowRowNoa{
flex-direction: row;

}

.Creator-2{
    display: flex;
    right: 0;
    flex-direction: column;
    border-bottom: 4px solid red
}


.Creator-2 img{
    height: auto;
    width: 4rem;
}


.Pop-Up-Quote{
    border: 4px solid gold;
    text-align: center;
    font-family: Impact;
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: #1A1A1A ;
    background-size: cover;
    align-items: center;
    display: none;
    z-index: 1;
    animation: unHide 5s ease-in-out forwards;
}

#quote-random{
    color: gold;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-style: oblique;
}

.Pop-Up-Quote img{
    display: block;
    margin: auto;
    width: 6rem;
    height: 10rem;
}
li{
    color: red;
    display: flex;
    justify-content: space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Author-Comments{
    color: gold;
    font-style: oblique;
}

h3{
    color: red;
    font-family: impact;
}

.Hokazono-Sensei{
    margin: auto;
    text-align: center;
}

.Hokazono-Sensei h2{
    border: none;
}

.Author-Speaks{
margin-top: 1rem;
padding-top: 1rem;
border: 1px solid gold;
background-color: white;
}





@keyframes cool-effect {
  0% {
    border-color: red;
  }
 
  100% {
    border-color: crimson;
  }
}

@keyframes smoothMove {
  0%, 100% {
    transform: translateY(0) scale(0.8);
    
  }
  5%, 25% {
    transform: translateY(-8px) scale(1.02);
  }
  30% {
    transform: translateY(0) scale(0.8);
    
  }
}

@keyframes unHide{
    0%{
      opacity: 0;
      scale:(0.5);  
    }

    90%{
        opacity: 1;
        scale:(1.2);
    }

    100%{
        opacity: 0;
    }
}

@keyframes quote-effect {
  0% {
    color: white;
  }
  50%{
    color: yellow
  }
 
  100% {
    color: gold;
  }
}
