*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body{
    background: linear-gradient(#010203);
    width: 100%;
    height: 100%;
 

}

.navbar{
    border: 1px solid red;
    position: sticky;
    top: 0;
    left: 0;
    background-color: red;
    height: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.75rem;
    font-family: impact;
}


.navbar a{
    text-decoration: none;
    color: black;
    font-style: oblique;
    display: flex;
    justify-content: space-evenly;
    display: inline;
    text-align: center;
    white-space: nowrap
}

a:hover{
    color: white;
    transform: scale(1.3);
    
}

footer{
    position: sticky;
    bottom: 0;
}

.foot-container{
    background-color: #1A1A1A;
    width: 100%;
    height: 20rem;
    text-align: center;
    
}

.social-heading{
    color: white;
    font-family:Impact;
}

.Footer-Links{
color: white;
font-family: Impact;
text-decoration: none;
}

.Footer-Links:hover{
    color: red;
}

.Logos{
    height: 3rem;
    width:  3rem;
}

.Dont-Sue-me{
    color: red; 
}


.Page-Title{
    color: red; 
    text-align: center;
    font-size: 0.9rem;
    font-family: impact;
    padding-top: 0.5rem;
}

.Img-Head{
    max-width: 100%; 
    height: 10rem;
    display: flex;
    margin: auto;
}
