*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
    
}

:root{
    --color-1: #B8A2A0;
    --color-2: #7A1800;
}


body{
    background-color: black;
    width: 100%;
    height: 100%;
}

.navbar{
    border: 1px solid red;
    position: sticky;
    top: 0;
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6rem;
    font-family: impact;
}

.navbar a{
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    font-style: oblique;
    text-align: center;
    white-space: nowrap;
   
}

.desktop-only {
  display: none;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto;
  padding-bottom: 6rem;
}

.Kasen{
    width: 100%;
    height: 10rem;
}

.Kamunabi-leaders{
    width: 100%;
    height: 10rem;
}

.Intro-H1{
    color: red;
    font-family: impact;
    font-size: 1.3rem;
}

.Intro-P{
    color: red;
    font-style: italic;
    margin-bottom: 1rem;
}

.Intro-H1,.Intro-P{
    text-align: center;
}

.Chapter-Release-Countdown{
    text-align: center;
    width: 100%;
    border-top: 3px solid var(--color-1);
    border-bottom: 3px solid var(--color-1);
}

.Countdown-Heading{
    color: red;
    font-family: impact;
    text-align: center;
}

.clock{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 3rem;
    
}

.Time{
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
}

.number{
    color: white;
    font-family: impact;
    line-height: 1;
    font-size: 2.1rem;
    
}
.Chrono-Label{
    color: var(--color-2);
}

.sojo{
    width: 100%;
    animation: smoothMove 6s infinite cubic-bezier(0.34, 1.56, 0.64, 1); 
}

.C-Files{
    color: var(--color-2);
}

.file-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}

.Card-Layout{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    border: 3px solid red;
    border-radius: 10px;
}

.Brief-Summary{
    color: red;
}









/* messed around with this and accidentally made something special im giggling at this */
@keyframes smoothMove {
  0%, 100% {
    transform: translateY(0) scale(0.5);
    
  }
  5%, 25% {
    transform: translateY(-8px) scale(1.02);
  }
  30% {
    transform: translateY(0) scale(0.7);
    
  }
}
