/*change the px to % or vw as you need the layout to be fluid and responsive on mobile as well! Also don't forget to add the accessibility for those with disabilities*/
*, *::before, *::after {
  box-sizing: border-box;
}

body{
    background: linear-gradient(#010203);
    width: 100%;
    height: 100%;

}


.HeadTitle{
position: absolute;
top: 0px;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}


.navbar{
    border: 1px solid red;
    position: sticky;
    background-color: red;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: impact;
}


.banner{
    position: absolute;
    top: 190px;
    width: 60%;
    height: 200px;
    font-weight: bold;
  
}

.banner-img{
    width: 30%;
    height: 30%;
    margin: auto;
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-img:hover{
    transform: translateY(-8px) scale(1.02);
    transition: 
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.about{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 25px;

}

a{
    text-decoration: none;
    color: black;
    font-style: oblique;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    display: inline;
}

a:hover{
    color: white;
    transform: scale(1.3);
    
}

.news-details{
    color: red;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;   
    font-size: 23px;
    border-bottom: 3px solid red;
    
}
 
.Anime-Title{
    color: red;
    font-family: Impact;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: relative;
    margin: auto;
}

.Anime-Img1{
    width: 100%;
    height: auto;
    object-fit: cover;
   position: relative;
   

}

.Manga-News{
    border: 5px solid red;
    border-radius: 10px;
}


.Manga-Img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.Manga-details{
color: red;
font-style: italic;
}

.Manga-Title{
    color: red;
    font-family: Impact;
    display: flex;
    align-items: center;
    justify-content: center;
}


.News-Title{
    color:red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}


.Anime-News-Details{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.Anime-Trailer{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Latest-News{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 54px;
    margin: auto;
    padding: 2rem;
    border-bottom: solid red 3px;
}

@keyframes cool-effect {
  0% {
    border-color: red;
  }
  100% {
    border-color: white;
  }
}

.Anime-Announcement{ 
    height: auto;
    width: 100%;
    border: 5px solid red;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

.tweet-link{
    color: red;
    font-family: Impact;
} 

.Char-Design-Img{
    width: 70%;
    height: auto;
    margin: auto;
} 

.Chihiro-Va{
    margin: 30px;
}

.Kunishige-Va{
    margin: 30px;
}

.Shiba-Va{
    margin: 30px;

}

.Previews{
 display: grid;
 grid-template-rows: repeat(4, auto);
 grid-template-columns: repeat(2, 2fr);
 gap: 2rem;
 padding: 3rem;
}

.Comm-Preview{
    padding-top: 3rem;
    padding-bottom:3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1,3fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    border: 10px solid red;
    border-radius: 1rem;
    text-align: center;
}

.Comm-Preview:hover,.Art-Preview:hover,.Gacha-Preview:hover,.Poll-Preview:hover{
    animation: cool-effect 2s ease-in-out infinite alternate;
    transform: translateY(-8px) scale(1.02);
    transition: 
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}


.Preview-Title{
    color: red;
    font-family: Impact;
    display: flex;
    align-items: center;
    Justify-content: center;
    border-bottom: 3px solid red;
    margin-bottom: 0.5rem;
}

.Preview-Text{
    color: red;
    font-family: Impact;
    text-align: center;
  
}

.Art-Preview{
    border: 10px solid red;
    border-radius:  1rem;
    padding-top: 3rem;
    padding-bottom:3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.Gacha-Preview{
    border: 10px solid red;
    border-radius:  1rem;
    padding-top: 3rem;
    padding-bottom:3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Poll-Preview{
    border: 10px solid red;
    border-radius:  1rem;
    padding-top: 3rem;
    padding-bottom:3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Art-Frame{
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 42%;
    animation: smoothMove 6s infinite cubic-bezier(0.34, 1.56, 0.64, 1);

}

@keyframes smoothMove {
  0%, 100% {
    transform: translateY(0) scale(1);
    
  }
  5%, 25% {
    transform: translateY(-8px) scale(1.02);
  }
  30% {
    transform: translateY(0) scale(1);
    
  }
}

.Art-Gal{
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  left: -10rem;
}

.Preview-Img-Comm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

.Creator-Links{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.creator{
border: 5px solid #DC143C;
border-radius: 1.1rem;
text-align: center;
}


.creator:hover{
    transform: translateY(-8px) scale(1.02);
    transition: 
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    border: 7px solid white;
    border-radius: 1.2rem;
}

.poll-preview-img{
    width: 30rem;
    height: 25rem;
    gap: 15rem;
    margin: auto;
}

.foot-container{
    background-color: #1A1A1A;
    width: 100%;
    height: 20rem;
}